/* Styles for the contact me page */
/* Reused styles from main.css with some modifications */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #1f1d1d;
}

.logo {
    font-weight: bold;
    font-size: 20px;
}

.roundimage {
    border-radius: 50%;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.nav li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
}

.element {
    float: left;
    margin-right: 20px;
}

body {
    background: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(165, 161, 161), rgb(90, 87, 87), rgb(79, 76, 76));
    height: 100vh;
    margin: 0;
}

#customfooter {
    text-align: center;
    background-color: hwb(180 7% 92%);
    color: rgb(236, 228, 228);
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
}


/* Contact Form Styles */
#contact {
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}
/*Centers the text Contact Me with styling on it*/
#contact h2 {
    color: #2c3e50;
    margin-bottom: 20px;
    font-size: 2.5rem;
    text-align: center;
}

/* Formats  the content so that it is not cramped in the page */
.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: #2c3e50;
}

/*Styles the button for submission*/
.submit-btn {
    background: #1a1a1b;
    color: white;
    border: none;
    padding: 12px 30px;
    font-size: 1.1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    width: 100%;
}

/*When hovering over the button, it changes color*/
.submit-btn:hover {
    background: #2980b9;
}

/* Ensures footer is always at the bottom since it kept having space at the bottom when 
minimizing the browser, so I used media query for it*/
@media all {
    body {
        position: relative;
        padding-bottom: 60px;
    }
    #customfooter {
        height: 60px;
    }
}